<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/" method="POST"  enctype="multipart/form-data">
        <input type="text" class="form-control" name="name"/>
        <input type="file" class="form-control" name="imagefile"/>
        <input type="submit" class="btn btn-primary" value="Registeration Image">
    </form>
    <form action="/video">
        <input type="submit" name="Implement ml" value="Implement ml">
    </form>
</body>
</html>